:root {
  --color-0: #fff;
  --color-1: #f7f7f7;
  --color-2: #ededed;
  --color-3: #dedede;
  --color-4: #ccc;
  --color-5: #b2b2b2;
  --color-6: #9c9c9c;
  --color-7: #717171;
  --color-8: #595959;
  --color-9: #404040;
  --color-10: #2e2e2e;
  --color-11: #111;
  --color-12: #000;
  --color-p1: #ffbb00;
  --color-p2: #e4a30b;
  --color-p3: #a66f00;
  --color-p4: #664400;
  --color-p5: #332200;
}